html {
    margin:0;
    padding:0;
    -webkit-text-size-adjust: 100%;
    display:block;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
    -webkit-transition: color .35s ease-out;
    -moz-transition: color .35s ease-out;
    transition: color .35s ease-out;
  }
  
  a:link {
    text-decoration: none;
    color: #566fff;
  }
  
  a:visited {
    text-decoration: none;
    color: #566fff;
  }
  
  a:hover {
    color: #000000;
  }

  body {
    color:#666;
    font-family: "Leon Sans";
    font-weight: 300;
    background-color: #fefefe;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

div {
  display: block;
}

#sidebars {
  position: fixed;
  width: 100%;
  height: 47px;
  z-index: 900;
  left: 0;
  top: 0;
}

#sidebars a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

#side-move {
  /* background-color: rgb(134, 134, 134); */
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0; 
  top: 0;
  z-index: 10;
  -webkit-transform: translate3d(0px, -153px, 0px);
  -moz-transform: translate3d(0px, -153px, 0px);
  -ms-transform: translate3d(0px, -153px, 0px);
  -o-transform: translate3d(0px, -153px, 0px);
  transform: translate3d(0px, -153px, 0px);
}

.side-con {
  margin: 0;
  opacity: 1;
}

.side-con ul {
  display: block;
  list-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 10px;
  height: 47px;
  line-height: 47px;
  text-transform: uppercase;
  overflow: hidden;
  margin: 153px auto 0;
  -webkit-padding-start: 0px !important;
  text-align: center;
  font-family: 'Leon Sans', 'KoPubDotum', sans-serif;
}

.side-con li {
  list-style-type: none;
  display: inline;
  padding: 0 10px;
  height: 100%;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

#wrapper {
  /* background-color: rgb(128, 255, 159); */
  position: relative;
  text-align: left;
  width: 100%;
  margin: 100px auto 0;
  overflow: hidden;
}

#container {
  position: relative;
  margin: 0 auto;
  max-width: 1080px;
}

#conbox {
  position: relative;
  padding: 50px 40px 0;
}

.entry {
  padding: 15px 0 0 0;
  margin: 0;
  font-size: 14px;
  line-height: 25px;
  /* font-family: 'KoPub Batang', serif; */
}

.postbox>div>iframe {
    box-shadow: 2px 25px 40px 0 rgb(0 0 0 / 15%);
}

#centertext {
  font-size: 15px;
  text-align: center;
}

#protitle {
  margin-top: 100px;
  font-size: 15px;
  text-align: center;
}

h2 {
  font-weight: 500;
  padding-bottom: 2px;
  font-size: 32px;
  line-height: 42px;
  color: #1c1c1c;
  font-family: 'Leon Sans', 'KoPubDotum', sans-serif;
  text-align: center;
}

.postbox {
  margin: 70px 0 0 0;
  line-height: 25px;
  font-size: 11px;
}

.bio {
  margin: 50px 0 0 0;
  line-height: 25px;
  font-size: 14px;
}

.bio>h3 {
  /* font-family: 'Leon Sans', 'KoPubDotumBold', serif; */
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  color: #111;
  padding: 0 0 4px 0;
  text-transform: uppercase;
}

.bio-des {
  /* font-family: 'Leon Sans', 'KoPubDotumBold', serif; */
  font-weight: 350;
  font-size: 13px;
  color: #111;
  padding: 0 0 4px 0;
  text-transform: uppercase;
}

.bio-contact {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.video {
  position: relative;
  height: 0;
}

embed, iframe, img, object, video {
  max-width: 100%;
}

#logo {
  position: absolute;
  left: 0px;
  top: 153px;
  width: 52px;
  height: 47px;
  z-index: 11;
  padding: 10px 19px 0 39px;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

#logo-click {
  width: 110px;
  height: 47px;
  position: absolute;
  left: 0px;
  top: 153px;
  z-index: 21;
}

::selection {
  background: #5b81ff;
  color: #fff;
}