@font-face {
  font-family: NanumBarunGothic;
  font-style: normal;
  src: local(NanumBarunGothic),
      url('font/NanumBarunGothic.otf') format(‘opentype’),
      url('font/NanumBarunGothic.eot') format('eot'),
      url('font/NanumBarunGothic.woff') format('woff');
}

html {
    margin:0;
    padding:0;
    -webkit-text-size-adjust: 100%;
    display:block;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.menu li a {
  opacity: .8;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu li a:hover {
  opacity: 1;
}



h1 {
  color: white;
  font-size: 4rem;
  font-family: NanumBarunGothic, sans-serif;
  text-align: center;
  line-height: 100vh;
}

h2 {
  font-weight: 500;
  padding-bottom: 2px;
  font-size: 32px;
  line-height: 42px;
  /* color: #1c1c1c; */
  font-family: NanumBarunGothic, sans-serif;
  text-align: center;
}

h3 {
  font-family: NanumBarunGothic, sans-serif;
}

span {
  opacity: 0;
  transition: all 1.5s ease;
  /* transform: translateY(30px);
  display: inline-block; */
}

span.fade {
  opacity: 1;

  /* transform: translateY(0px);
  color: rgb(255, 255, 255); */
}

span.fadeOut {
  opacity: 1;
  transform: translateY(30px);
  color: rgb(152, 182, 230);
}

.about_name {
  font-family: NanumBarunGothic, sans-serif;
}

a {
    color:rgb(255, 255, 255);
    -webkit-transition: color .35s ease-out;
    -moz-transition: color .35s ease-out;
    transition: color .35s ease-out;
  }
  
  a:link {
    text-decoration: none;
    color: #566fff;
  }
  
  a:visited {
    text-decoration: none;
    color: #566fff;
  }
  
  a:hover {
    color: #000000;
  }

  body {
    color:rgb(255, 255, 255);
    /* color:#666; */
    font-family: NanumBarunGothic, sans-serif;
    font-family: "NanumBarunGothicOTF";
    font-weight: 300;
    background-color: #0c0c0c;
    /* background-color: #fefefe; */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

div {
  display: block;
}

.cls-1 {
  color:rgba(255, 255, 255);
  font-size: 390.02px;
  font-family: NanumBarunGothic, sans-serif;
}

#sidebars {
  background-color: rgba(70,70,70,0.3);
  position: fixed;
  width: 100%;
  height: 47px;
  z-index: 900;
  left: 0;
  top: 0;
}

#sidebars a {
  /* color: rgba(0, 0, 0, 0.4); */
  color: rgba(255, 255, 255, 95);
  text-decoration: none;
}

#side-move {
  /* background-color: rgb(134, 134, 134); */
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0; 
  top: 0;
  z-index: 10;
  -webkit-transform: translate3d(0px, -153px, 0px);
  -moz-transform: translate3d(0px, -153px, 0px);
  -ms-transform: translate3d(0px, -153px, 0px);
  -o-transform: translate3d(0px, -153px, 0px);
  transform: translate3d(0px, -153px, 0px);
}

.side-con {
  margin: 0;
  opacity: 1;
}

.side-con ul {
  display: block;
  list-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 10px;
  height: 47px;
  line-height: 47px;
  text-transform: uppercase;
  overflow: hidden;
  margin: 153px auto 0;
  -webkit-padding-start: 0px !important;
  text-align: center;
  font-family: 'Leon Sans', 'KoPubDotum', sans-serif;
}

.side-con li {
  list-style-type: none;
  display: inline;
  padding: 0 10px;
  height: 100%;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

#wrapper {
  /* background-color: rgb(128, 255, 159); */
  position: relative;
  text-align: left;
  width: 100%;
  margin: 100px auto 0;
  overflow: hidden;
}

#container {
  position: relative;
  margin: 0 auto;
  max-width: 1080px;
}

#conbox {
  position: relative;
  padding: 50px 40px 0;
}

.entry {
  padding: 15px 0 0 0;
  margin: 0;
  font-size: 14px;
  line-height: 25px;
}

.postbox>div>iframe {
    box-shadow: 2px 25px 40px 0 rgb(0 0 0 / 15%);
}

#centertext {
  font-family: NanumBarunGothic, sans-serif;
  font-size: 15px;
  text-align: center;
}

#protitle {
  margin-top: 100px;
  font-size: 15px;
  text-align: center;
}

.postbox {
  margin: 70px 0 0 0;
  line-height: 25px;
  font-size: 13px;
}

.des {
  font-family: NanumBarunGothic, sans-serif;
}

.bio {
  margin: 50px 0 0 0;
  line-height: 25px;
  font-size: 14px;
}

.bio>h3 {
  font-family: NanumBarunGothic, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  /* color: #111; */
  color: rgba(255,255,255,90);
  padding: 0 0 4px 0;
  text-transform: uppercase;
}

.bio-des {
  font-family: NanumBarunGothic, sans-serif;
  font-weight: 350;
  font-size: 13px;
  /* color: #111; */
  color: rgba(255,255,255,90);
  padding: 0 0 4px 0;
  text-transform: uppercase;
}

.bio-contact {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.video {
  position: relative;
  height: 0;
}

embed, iframe, img, object, video {
  max-width: 100%;
}

#logo {
  position: absolute;
  left: 0px;
  top: 159px;
  width: 130px;
  height: 47px;
  z-index: 11;
  padding: 10px 19px 0 35px;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

#logo-click {
  width: 110px;
  height: 47px;
  position: absolute;
  left: 30px;
  top: 153px;
  z-index: 21;
}

.imoge {
  left: 800px;
  top: 210px;
  display: inline-block;
  border-radius: 20px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  opacity: 0.1;
  transition: opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 2;
  position: absolute;
}

.imoge:hover {
  transform: translateY(-10px);
  opacity: 1;
}

::selection {
  background: #5b81ff;
  color: #fff;
}

#theCanvas {
  width: 1000px;
  margin: auto;
  border: 3px solid black;
  display: block;
}


@media (max-width: 680px) {
  #conbox {
    padding: 0 10px !important;
  }

  #logo-click {
    left: -30px;
  }

  #logo {
    left: -30px;
  }

  #show-menu {
    display: block;
  }

  #sidebars.show #show-menu {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  #sidebars.black #side-move,
  #sidebars.show #side-move {
    -webkit-transform: translate3d(0px, -70px, 0px);
    -moz-transform: translate3d(0px, -70px, 0px);
    -ms-transform: translate3d(0px, -70px, 0px);
    -o-transform: translate3d(0px, -70px, 0px);
    transform: translate3d(0px, -70px, 0px);
  }

  .side-con ul {
    margin: 100px 15px 0;
    line-height: 24px;
    font-size: 11px;
  }

  .side-con li {
    padding: 0 5px;
  }

  .entry {
    margin: 0px 0 0 0;
  }

  .post {
    padding: 0px 0 0 0;
  }


  #side-move {
    background-color: #fff;
    /* box-shadow: 0px 12px 30px 0 rgba(0,0,0,.1) !important;*/
  }

  #books {
    position: relative;
    width: 220px;
    top: 0;
    right: auto;
    left: 10px;
    padding: 0 0 30px 0;
  }
}


p:empty:before {
  content: none !important;
  height: 0px;
}